* {
	box-sizing: border-box; /* inclut le padding et margin ds le calcul de la largeur */
}

.App {
	color: white;
	width: 100vw;
	/* height: 100%; */
}

.App_header {
	background-color: #170036;
	border-bottom: #b3b3b3 1px solid;
	height: 100px;
	padding: 10px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}

.App_header > span {
	/* écarter les icones */
	margin: 0 10px;
}

h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 15px;
}

main {
	/*! dimension main - hauteur du header(100) - hauteur du footer(95) = affichage correct du footer  */
	height: calc(100vh - 195px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	background-image: url("https://i.ibb.co/cbHkZjQ/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
}

.form {
	min-height: 400px;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	/* glassmorphisme pour améliorer l'apparence de la note. Le glassmorphisme est une tendance de conception d'interface utilisateur qui imite l'apparence du verre dépoli. */
	/* permet d’appliquer des filtres à ce qu’il y a derrière l’élément (backdrop), et non à son arrière-plan (background) */
	backdrop-filter: blur(5px);
	box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
	border-radius: 15px;
	border: 1.5px solid rgba(255, 255, 255, 0.326);
	color: #fff;
	overflow: visible;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 20px;
}

.button > button {
	background: transparent;
	transition: 0.2s ease-in-out;
	border: 1.5px solid #fff;
	border-radius: 10px;
	color: #fff;
	padding: 10px 10px;
	font-size: 16px;
	cursor: pointer;
}

button:hover:not(.btn_delete) {
	background: #fff;
	border: 1.5px solid #fff;
	color: #4b1589;
}

.button .btn_delete {
	display: flex;
	align-items: center;
	font-size: 12px;
	cursor: default;
	color: #b9a5ab;
}

.note_delete {
	color: #ffffff;
}

.button .btn_delete .note_delete:hover {
	color: #fff;
	transform: scale(1.4);
	cursor: pointer;
}

.error_msg {
	color: #f3cccc;
	font-size: 20px;
	font-weight: 700;
}

/***** FAVORIS ******/

a {
	color: #fff;
	font-weight: 700;
}

.displayCard {
	background-color: #ddc6fa;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 240px;
	gap: 5px;
}

.displayCard img {
	border: 1px solid pink;
	width: 70px;
	height: 70px;
	object-fit: contain;
}

.displayCard span {
	position: relative;
}

.heartIconCharacters {
	position: absolute;
	left: 0px;
	top: -52px;
	color: yellow;
	cursor: pointer;
}

.heartIconCharacters:hover {
	position: absolute;
	color: rgb(249, 96, 185);
	transform: scale(1.4);
	cursor: pointer;
}

/***** FOOTER ******/

.App_footer {
	background-color: #170036;
	height: 95px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	font-size: 16px;
	color: #fff;
	/* position: relative; */
}

footer > span {
	padding: 15px 3px;
	background: rgba(146, 146, 146, 0.12);
	backdrop-filter: grayscale(-10) contrast(4) blur(3px);
}

footer span > a {
	color: #fff;
}

footer span > a:hover {
	color: rgba(194, 70, 251, 0.791);
	text-shadow: 0 -1px 2px #5000fc, 0 -2px 2px rgb(30, 0, 253),
		0 -3px 5px #00c3ff, 0 -3px 10px rgb(0, 255, 242);
}
